**Description of data**

The project focuses on an e-commerce logistics dataset where we aim to analyze and optimize delivery operations. This dataset contains detailed information about orders, such as product categories, shipping routes, logistics providers, costs, and delivery timelines. The goal is to understand delivery patterns, manage costs, and ensure timely deliveries. Accurate insights from this data will help improve customer satisfaction, enhance operational efficiency, and support strategic business decisions. This project can also pave the way for building predictive models to forecast delays or estimate logistics costs for future transactions.

**The datset contains the following fields:**

- order_id:Unique identifier for each order.
- product_category_cleaned:Cleaned category name of the product (e.g., PC, Laptop).
- destination_city:City where the order is to be delivered.
- destination_city_cleaned:Cleaned version of the destination city name.
- origin_city:City from where the order is dispatched.
- shipping_route:Description of the route taken for shipping.
- logistics_provider_id:Identifier for the logistics provider responsible for delivery.
- logistics_group_id:Identifier for the logistics group or network.
- route_type:Type of route taken (e.g., express, standard).
- final_delivery_status:Delivery status of the order (e.g., Delivered, Delayed).
- dispatch_date:Date the order was dispatched.
- actual_delivery_date:Actual date the order was delivered.
- promised_delivery_date:Date promised for delivery during the order process.
- transit_storage_cost:Cost incurred for storage during transit.
- shipping_cost:Cost incurred for shipping the order.
- total_logistic_cost:Combined logistics cost (e.g., shipping + storage).
- delivery_days:Total days taken for the delivery.
- source:Source platform or channel where the order was placed.
- session_length:Duration of the user session while placing the order.
- payment_mode:Mode of payment used (e.g., Credit Card, Debit Card).
- Space_loc:Additional logistic-related spatial information.
- Logistic_Provider:Name or details of the logistics provider.
- Subsidary:Information related to subsidiaries involved in logistics.
- Space _city:Spatial logistics identifier for the city.
- price: Price of the product being delivered.

In [1]:
#Step 1: Import the Liabraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the CSV file
df=pd.read_csv("Excel_Module_Ecommerce_demo.csv")
#Step 2: Understand the Data
df.head()

,order_id,product_category,product_category_cleaned,destination_city,origin_city,logistics_provider_id,final_delivery_status,dispatch_date,actual_delivery_date,promised_delivery_date,...,Logistic_Provider,Subsidary,Space _city,Destination_city,Route,Route_type,source,session_length,payment_mode,price
0,318813,PC,PC,"Delhi, DL",Bangalore,Ship2Home delivery,Delivered,01-03-2019,04-03-2019,06-03-2019,...,SHIP2HOME,LOGISTICS UNIT,6,DELHI,Bangalore-DELHI,Outstation,Website,3259.850000,Credit Card,70000
1,70870,Laptop,Laptop,"Mumbai, MH",Bangalore,Ship2Home Logistics Unit,Delivered,01-03-2019,07-03-2019,06-03-2019,...,SHIP2HOME,LOGISTICS UNIT,7,MUMBAI,Bangalore-MUMBAI,Outstation,App,2173.741671,Debit Card,80000
2,719174,Mobile,Mobile,"Kolkata, WB",Delhi,Ship2Home Logistics Unit,Delivered,01-03-2019,07-03-2019,04-03-2019,...,SHIP2HOME,LOGISTICS UNIT,8,KOLKATA,Delhi-KOLKATA,Outstation,App,703.981372,Debit Card,50000
3,482982,Mobile,Mobile,"Delhi, DL",Delhi,Ship2Home Logistics Unit,Delivered,01-03-2019,05-03-2019,06-03-2019,...,SHIP2HOME,LOGISTICS UNIT,6,DELHI,Delhi-DELHI,Local,Website,1646.060000,Debit Card,50000
4,217738,Laptop,Laptop,"Kolkata, WB",Delhi,Ship2Home Logistics Unit,Delivered,01-03-2019,07-03-2019,08-03-2019,...,SHIP2HOME,LOGISTICS UNIT,8,KOLKATA,Delhi-KOLKATA,Outstation,App,2275.445909,Debit Card,80000

In [3]:
# Check basic metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  5000 non-null   int64
 1   product_category          5000 non-null   object
 2   product_category_cleaned  5000 non-null   object
 3   destination_city          5000 non-null   object
 4   origin_city               5000 non-null   object
 5   logistics_provider_id     4993 non-null   object
 6   final_delivery_status     5000 non-null   object
 7   dispatch_date             5000 non-null   object
 8   actual_delivery_date      4431 non-null   object
 9   promised_delivery_date    5000 non-null   object
 10  transit_storage_cost      4976 non-null   float64
 11  shipping_cost             5000 non-null   int64
 12  Space_loc                 5000 non-null   object
 13  Logistic_Provider         5000 non-null   object
 14  Subsidary                 5000 non-null   object
 15  Space _city               5000 non-null   int64
 16  Destination_city          5000 non-null   object
 17  Route                     5000 non-null   object
 18  Route_type                5000 non-null   object
 19  source                    4987 non-null   object
 20  session_length            4987 non-null   float64
 21  payment_mode              4987 non-null   object
 22  price                     5000 non-null   int64
dtypes: float64(2), int64(4), object(17)
memory usage: 898.6+ KB

In [4]:
# Summarize numeric columns
df.describe()

,order_id,transit_storage_cost,shipping_cost,Space _city,session_length,price
count,5000.000000,4976.000000,5000.000000,5000.000000,4987.000000,5000.00000
mean,490879.132800,84.443328,113.260400,7.656000,1988.590691,68304.20000
std,290423.319838,690.750809,11.927391,1.417345,1002.884405,21801.25504
min,111.000000,0.000000,85.000000,6.000000,180.000000,40000.00000
25%,230951.000000,25.000000,106.000000,6.750000,1138.128598,50000.00000
50%,490925.500000,37.000000,112.000000,7.000000,1977.670387,70000.00000
75%,741341.250000,49.000000,124.000000,8.000000,2863.362576,80000.00000
max,999468.000000,9999.000000,130.000000,10.000000,3877.982520,150000.00000

In [5]:
# Check for missing values
missing_values = df.isnull().sum()
display(missing_values[missing_values > 0])

logistics_provider_id      7
actual_delivery_date     569
transit_storage_cost      24
source                    13
session_length            13
payment_mode              13
dtype: int64

In [6]:
# Step 3: Clean the Data
# Handle missing values
df = df.dropna(subset=['session_length', 'transit_storage_cost'])  
df['transit_storage_cost'].fillna(df['transit_storage_cost'].mean())

0       26.0
1       35.0
2       38.0
3        0.0
4       50.0
        ...
4995    69.0
4996    68.0
4997     0.0
4998    25.0
4999    38.0
Name: transit_storage_cost, Length: 4963, dtype: float64

In [7]:
# Remove duplicate rows
df = df.drop_duplicates()

In [8]:
# Correct data types
df['dispatch_date'] = pd.to_datetime(df['dispatch_date'], errors='coerce')
df['actual_delivery_date'] = pd.to_datetime(df['actual_delivery_date'], errors='coerce')
df['promised_delivery_date'] = pd.to_datetime(df['promised_delivery_date'], errors='coerce')

In [9]:
# Step 4: Transform the Data
# Normalize numeric columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['transit_storage_cost', 'session_length']] = scaler.fit_transform(df[['transit_storage_cost', 'session_length']])

In [10]:
# Encode categorical variables
df = pd.get_dummies(df, drop_first=True)

In [11]:
# Step 5: Feature Engineering
# Create new features
df['delivery_delay'] = (df['actual_delivery_date'] - df['promised_delivery_date']).dt.days
df['dispatch_to_delivery_days'] = (df['actual_delivery_date'] - df['dispatch_date']).dt.days

In [12]:
# Perform feature selection 
correlation_matrix = df.corr()
display(correlation_matrix['delivery_delay'].sort_values(ascending=False))

delivery_delay                                    1.000000
dispatch_to_delivery_days                         0.833215
actual_delivery_date                              0.632273
Route_type_Outstation                             0.272501
Logistic_Provider_SHIP2HOME                       0.201822
Space_loc_10                                      0.201822
Subsidary_DELIVERY                                0.159805
logistics_provider_id_Ship2Home  delivery         0.159173
destination_city_Chennai, TN                      0.088270
Destination_city_CHENNAI                          0.088270
payment_mode_Credit Card                          0.087631
Route_Delhi-CHENNAI                               0.085701
Route_Delhi-BANGALORE                             0.084914
logistics_provider_id_Ship2Home Logistics Unit    0.065998
Subsidary_LOGISTICS UNIT                          0.065209
Destination_city_MUMBAI                           0.059640
destination_city_Mumbai, MH                       0.059640
Route_Bangalore-DELHI                             0.057939
final_delivery_status_Delivered                   0.055162
destination_city_Kolkata, WB                      0.051887
Destination_city_KOLKATA                          0.051887
Route_Delhi-MUMBAI                                0.045028
Route_Bangalore-KOLKATA                           0.041534
Route_Bangalore-CHENNAI                           0.033666
shipping_cost                                     0.032499
Route_Bangalore-MUMBAI                            0.031963
Route_Delhi-KOLKATA                               0.030289
product_category_TV - 40 in                       0.024541
order_id                                          0.024313
origin_city_Delhi                                 0.017274
transit_storage_cost                              0.016555
product_category_cleaned_Tablet                   0.011754
product_category_Tablet                           0.011754
Space _city                                       0.007492
price                                             0.005724
product_category_TV - 50 in                       0.000204
product_category_cleaned_PC                      -0.001429
product_category_PC                              -0.001429
product_category_cleaned_Mobile                  -0.003013
product_category_Mobile                          -0.003013
product_category_cleaned_Tv                      -0.003864
product_category_Laptop                          -0.004211
product_category_cleaned_Laptop                  -0.004211
source_Website                                   -0.007568
session_length                                   -0.008416
product_category_TV - 32 in                      -0.019487
final_delivery_status_Returned                   -0.055162
dispatch_date                                    -0.098851
payment_mode_Debit Card                          -0.101713
Destination_city_DELHI                           -0.102698
destination_city_Delhi, DL                       -0.102698
Route_Delhi-DELHI                                -0.175324
Space_loc_11                                     -0.198682
Subsidary_LTD                                    -0.198682
Logistic_Provider_FASTWHEELS                     -0.198682
promised_delivery_date                           -0.411264
Name: delivery_delay, dtype: float64